In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
%matplotlib inline

In [2]:
data=pd.read_csv("day.csv")
data.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [3]:
data.keys()

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [4]:
data.shape

(499, 16)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     499 non-null    int64
 1   dteday      499 non-null    object
 2   season      499 non-null    int64
 3   yr          499 non-null    int64
 4   mnth        499 non-null    int64
 5   holiday     499 non-null    int64
 6   weekday     499 non-null    int64
 7   workingday  499 non-null    int64
 8   weathersit  499 non-null    int64
 9   temp        499 non-null    float64
 10  atemp       499 non-null    float64
 11  hum         499 non-null    float64
 12  windspeed   499 non-null    float64
 13  casual      499 non-null    int64
 14  registered  499 non-null    int64
 15  cnt         499 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 62.5+ KB

In [6]:
data.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000,499.000000
mean,250.000000,2.206413,0.268537,5.515030,0.028056,2.995992,0.683367,1.408818,18.979325,22.316516,62.601307,13.212513,706.577154,3030.551102,3737.128257
std,144.193157,1.095573,0.443643,3.459066,0.165299,2.009012,0.465630,0.557175,7.350670,8.038017,15.282889,5.278390,612.099032,1194.650805,1538.501032
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,9.000000,416.000000,431.000000
25%,125.500000,1.000000,0.000000,3.000000,0.000000,1.000000,0.000000,1.000000,12.998189,15.843550,50.666050,9.313000,226.500000,2111.500000,2463.000000
50%,250.000000,2.000000,0.000000,5.000000,0.000000,3.000000,1.000000,1.000000,18.518347,22.222300,62.666700,12.707689,603.000000,3176.000000,3926.000000
75%,374.500000,3.000000,1.000000,8.000000,0.000000,5.000000,1.000000,2.000000,25.215000,28.725925,73.791650,16.083618,900.000000,3845.500000,4761.500000
max,499.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,34.815847,42.044800,97.250000,34.000021,3252.000000,5950.000000,8362.000000

In [ ]:
data.hist(figsize=(14,14))

All weekdays's contribution for shared bike demand are almost same but in weekend day demand is more than.

In [ ]:
data[['weekday', 'cnt']].groupby(['weekday']).sum().plot(kind='barh', figsize=(20, 5))

Highest contribution for shared bike demand in clear weather.

In [ ]:
data[['weathersit', 'cnt']].groupby(['weathersit']).sum().plot(kind='barh', figsize=(20, 5))

In [ ]:
corr=data.corr()
corr["cnt"].sort_values(ascending=False)

In [ ]:
corrmat=data.corr()
corrmat

In [ ]:
data.drop(['dteday'], axis = 1, inplace=True)
data.head()

In [ ]:
x=data.drop(["cnt"],axis=1).values
y=data["cnt"].values

In [ ]:
 x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=30)

In [ ]:
regressor=LinearRegression()
regressor.fit(x_train,y_train)

In [ ]:
y_pred=regressor.predict(x_test)
y_pred

In [ ]:
r2_score(y_test,y_pred)

In [ ]:
mean_squared_error(y_test, y_pred)

Test the model on test file

In [ ]:
test_x=pd.read_csv("test.csv")
test_x.head()

In [ ]:
test_x.drop(['dteday'], axis = 1, inplace=True)
test_x.head()

In [ ]:
test_y_pred=regressor.predict(test_x)
test_y_pred